# Byte-compiled / optimized / DLL files
__pycache__/

# The folders and files to be ignored
_tools/__pycache__/
.idea/
.Rproj.user/
_ts_AQ.Rproj
_tools/fun_s_pl.py
_tools/ReportRunner.exe
_tools/ReportRunner.Readme.html
out/*.*
out/csv/
out/long_duckdb/
_hourly_2_daily_test/
scripts/_function_testing.ps1
scripts/duckdb/_steps_limitations.sql
scripts/duckdb/_steps_in_general.sql
scripts/duckdb/2_run_after_pwsh_script_duckdb_limitations.sql
scripts/python/1_run_before_pwsh_script.py
scripts/python/2_run_after_pwsh_script_pl.py
scripts/R/1_run_before_pwsh_script.R
scripts/R/2_run_after_pwsh_script_df.R
scripts/tmp.ps1
scripts/tmp.py
scripts/tmp.R
scripts/tmp.sql
